---
layout: default
title: Blog
---
{% include navigation.html %}
{% include navigation.html %}
<section class="container__blog">
  <header class="container__blog-header">
    <div class="container__blog-content row">
      <h2>BLOG</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil animi, inventore ipsum numquam enim amet,
        dolore,
        similique quasi exercitationem placeat debitis corrupti tempora fuga cumque consectetur corporis! Eaque, iusto
        nostrum!</p>
    </div>
  </header>
  <section class="container__blog-body">
    <div class="container__blog-row row">
      {% for post in site.posts %}
      <div class="container__blog-sample">
        <div class="container__blog-image" style="background-image: url({{post.image}});">
        </div>
        <div class="container__blog-text">
          <h2>{{ post.title }}</h2>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>