---
layout: default
title: Portfolio
---
{% include navigation.html %}
<section class="container__portfolio">
  <section class="container__portfolio-header">
    <div class="container__portfolio-content row">
      <h2>Portfolio</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil animi, inventore ipsum numquam enim amet, dolore,
        similique quasi exercitationem placeat debitis corrupti tempora fuga cumque consectetur corporis! Eaque, iusto
        nostrum!</p>
    </div>
  </section>
  <section class="container__portfolio-works">
    {% include works.html %}
  </section>
</section>