<div class="navigation">

  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      {% for item in site.data.navigation %}
      <li class="navigation__item">
        <a href="{{ item.link }}" class="navigation__link">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

</div>

<!-- <nav>
  {% for item in site.data.navigation %}
  <a href="{{ item.link }}" {% if page.url == item.link %}class="current" {% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav> -->