.container {
  background-color: $mainColor;
  height: 94vh;
  position: relative;
  overflow: hidden;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeIn 1s ease-out;
  }

  &__about {
    position: absolute;
    font-family: "Raleway", "Times New Roman", Times, serif;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    line-height: 2;
    backface-visibility: hidden;
    width: 50%;
  }
  
  &__title {
    font-family: "Bebas Neue", "Times New Roman", Times, serif;
    font-size: 5.5rem;
    color: $darkBlue;
    font-weight: 300;
    margin-bottom: 2rem;
    animation: moveInLeft 1s cubic-bezier(0.45, 0, 0.55, 1);
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;

  }

  &__paragraph {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    animation: moveInRight 1s cubic-bezier(0.45, 0, 0.55, 1);


    &--mustard {
      color: $mustard;
      font-style: italic;
    }

    &--darkBlue {
      color: $darkBlue;
      font-style: italic;
    }

    &--lightBlue {
      color: $lightBlue;
      font-style: italic;
    }
  }
}
