.container {
  background-color: $mainColor;
  height: 94vh;
  position: relative;
  overflow: hidden;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    animation: fadeIn 1s ease-out;
  }

  &__intro {
    font-family: "Bebas Neue", "Times New Roman", Times, serif;
    position: absolute;
    top: 50%;
    left: 60%;
    letter-spacing: 0.3rem;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    backface-visibility: hidden;
  }

  &__hello {
    color: $darkBlue;
    font-size: 5rem;
    width: 100%;
    text-align: left;
    margin-left: 0.15rem;
    animation: moveInLeft 1s cubic-bezier(0.45, 0, 0.55, 1);
  }

  &__middle {
    animation: moveInRight 1s cubic-bezier(0.45, 0, 0.55, 1);

    &-left {
      color: white;
      font-size: 9.4rem;
      white-space: nowrap;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
    }

    &-right {
      font-size: 4.5rem;
      color: $darkBlue;
      text-shadow: none;
    }
  }

  &__frontend {
    color: $pink;
    font-size: 6rem;
    width: 100%;
    text-align: right;
    animation: moveInLeft 1s cubic-bezier(0.45, 0, 0.55, 1);
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  }
}
