@import "../abstracts/variables";

.container {
  background-color: $mainColor;
  height: 94vh;
  position: relative;
  overflow: hidden;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeIn 1s ease-out;
  }

  &__intro {
    font-family: "Jaapokki", "Times New Roman", Times, serif;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    backface-visibility: hidden;
  }

  &__hello {
    color: $darkBlue;
    font-size: 3.6rem;
    width: 100%;
    text-align: left;
    margin-left: 0.15rem;
    animation: moveInLeft 1s ease-out;
  }

  &__middle {
    animation: moveInRight 1s ease-out;

    &-left {
      color: white;
      font-size: 8rem;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
    }

    &-right {
      font-size: 2.5rem;
      color: $darkBlue;
    }
  }

  &__frontend {
    color: $pink;
    font-size: 5rem;
    width: 100%;
    text-align: right;
    animation: moveInLeft 1s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  }
}
