/* 
** COLORS
*/

$mainColor: rgb(6, 214, 160);
$secondaryColor: rgb(7, 153, 114);
$lightBlue: rgb(17, 138, 178);
$darkBlue: rgb(7, 59, 76);
$greyBlue: #eaedee;
$whiteGrey: #eee;
$darkGrey: #555;
$white: #fff;
$black: #000;
$mustard: #ffd166;
$pink: #ef476f;

/* 
** GRID
*/

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*
** FONTS
*/

$titleFont: "Bebas Neue", "Times New Roman", "Arial";
$mainFont: "Nunito", "Times New Roman", "Arial";

/* 
** GLOBAL VARIABLES
*/

$faceImageFullHD: 650px;