/* 
** COLORS
*/

$mainColor: rgb(6, 214, 160);
$lightBlue: #118AB2;
$darkBlue: #073B4C;
$mustard: #FFD166;
$pink: #EF476F;

/* 
** GRID
*/

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;