.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 50rem;
  border-radius: 3rem;
  font-family: "Raleway", "Times New Roman", Times, serif;

  &__side {
    background-color: white;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    overflow: hidden;

    &--front {
      background-color: white;
    }

    &--back {
      background-color: peru;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, $mainColor, $lightBlue);
    }
  }


  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  /* FRONT SIDE STYLING */

  &__picture {
    background-size: cover;
    background-position: top center;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: url('../images/personalWebsite.png');
      height: 23rem;
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        
        &:not(:last-child) {
          border-bottom: 1px solid $whiteGrey;
        }
      }

    }
  }

  /* BACK SIDE STYLING */

  &__cta {
    position: absolute;
    @include centralizeContent;
    width: 70%;
    text-align: center;
  }

  &__upper {
    color: $white;
    padding: 2rem;
  }
}