<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <title>{{ page.title }}</title>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</head>

<body>
  {% include navigation.html %}
  <section class="container__post">
    <header class="container__post-header">
      <h2>{{page.title}}</h2>
      <span>{{page.date | date: '%B %d, %Y'}}</span>
      <button onclick="goBack()">Voltar</button>
    </header>
    <div class="container__post-image" style="background-image: url({{page.image}});"></div>
    <div class="container__post-content row">
      {{ content }}
    </div>
  </section>
</body>

</html>