@font-face {
  font-family: "Jaapokki";
  src: url("../../assets/fonts/jaapokki-regular.eot") format("eot"),
    url("../../assets/fonts/jaapokki-regular.woff") format("woff");
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}
